# API
NEXT_PUBLIC_API_URL=http://localhost:3001

# Paystack (public key — safe to expose in browser)
NEXT_PUBLIC_PAYSTACK_KEY=

# Analytics
NEXT_PUBLIC_POSTHOG_KEY=
NEXT_PUBLIC_POSTHOG_HOST=https://app.posthog.com
